/* Barra de navegacion */

.navbar {
  min-height:0%;
  padding: 2rem;
  background-color: #389c62;
  position: fixed;
  width: 100%;
}



.navbar-collapse {
  align-items: center;
  justify-content: space-between; 
  color: #7ade30; 
}

/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  font-family: 'Rubik Dirt', cursive;
  color: #389c62;
}

.seccion-oscura {
  color: rgb(26, 56, 28);
  background-color: #389c62;
}

.seccion-clara {
  color: black;
  background-color: #e3fee1;
}

.seccion-titulo {
  font-size: 40px;
  padding: 20px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #f0f5f2;
}

.seccion-texto {
  font-size: 1.3rem;
  font-family: 'Source Serif 4', serif;
  color: #e3fee1;
}

.btn-info {
  font-size: 2rem;
  margin: 20px;
  
}

.texto-negro {
  color: #373737;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f1fcf0;
  min-height: 450px;
  text-align: center;
}



.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 14px;
  margin-top: 11rem;
}

.hero-principal h2 {
  font-size: 3rem;
  font-family: 'Amatic SC', sans-serif;
  
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}



.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
  margin-top: 1.2rem;
}

/* Testimonios */


.testimonios .carousel {
  margin-top: 1.2rem;
  max-width: 800px;
}

.carousel-item {
  height: 100px;
  max-width: 100%;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.testimonio-texto {
  max-width: 1500px;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 20px;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
  padding-top: 70px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(243, 255, 238);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px rgb(219, 217, 217);
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: rgb(26, 56, 28);
  font-size: 1.5rem;
}

.contacto button {
  color: rgb(26, 56, 28);
  font-weight: bold;
  background-color: transparent;
  border: 2px solid rgb(26, 56, 28);
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: rgb(155, 181, 114);
  color: rgb(26, 56, 28);
}

.contacto button i {
  color: rgb(26, 56, 28);
  font-size: 1.3rem;
  transition: all 0.9s ease-in-out;
}

.contacto button:hover i {
  color: rgb(26, 64, 34);
}

/* Pie de pagina (footer) */

footer {
  min-height: 100px;
}

hero-inferior-imagen
.footer-logo {
  height: 1px;
  width: 1px;
  margin: 1px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.6s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: rgb(38, 180, 116);
  border: 2px solid rgb(159, 255, 175);
}

.iconos-redes-sociales a:hover i {
  color: rgb(194, 255, 219);
}

.derechos-de-autor {
  font-size: 15px;
  color: rgb(26, 56, 28);
  padding: 20px;
}

/* Adaptable (Responsivo) */


@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 23px;
  }

  .testimonios i {
    size: 40px;
  }
}

@media screen and (max-width: 10px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .testimonio-imagen {
    height: 1px;
    width: 1px;
  }

  .testimonio-texto {
    font-size: 100px;
  }
}

@media screen and (min-width: 100px) {
  .hero-inferior-imagen {
    max-width: 700px;
  }
}

h2{
  color: #efd8f5;
}


nav .navbar-nav .nav-link{
  color: rgb(245, 247, 244);
  font-size: 18px;
  font-family: 'Signika Negative', sans-serif;
}


.seccion-texto-negro{
  color: #373737;
  font-size: medium;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

